.container{
    text-align: center;
    margin-top: 40px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border: 3.5px solid rgb(40, 56, 70);
    border-radius: 10px;
    margin-bottom: 7px;
}
button{
    font-size: 40px;
    background: rgb(40, 56, 70);
    width: 102px;
    height: 58px;
    color: aliceblue;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(23, 56, 45);
    cursor: pointer;
    color: aquamarine;
}
.calculator{
    display: inline-block;
    padding: 30px 20px;
    background-color: rgb(59, 55, 49);
    border-radius: 10px;
}